<!DOCTYPE html>
<html>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <head>
  <br></br>
    <title> Encurtador de URL</title>
    <div style="text-align: center;">
      <header style="font-size: 26px;"> Encurtador de Url </header>
      <small> Por Cícero Alves </small>
    </div>  
  </head>
    <body>
    <br></br>
      <h4 style="text-align: center;"> Coloque a URL que deseja encurtar abaixo: </h4>
      <form action="/result/" style="padding-left: 500px; margin-top: 50px;" method="post" name="url" class="col-md-12">
         {% csrf_token %}

        {{ form.non_field_errors }}
        <div class="form-group">
         {{ form.subject.errors }}
          <label for="url"> URL </label>
          {{ form.subject }}
            <input type="text" class="form-control col-md-6" id="url" name="url" placeholder="URL a ser encurtada" required>
            <input type="text" style="margin-top: 20px;" class="form-control col-md-6" id="code" name="code" placeholder="Codigo da url" required>
            <br></br>
            <input style="margin-left: 120px;" type="submit" class="form-control col-md-3" value="Encurtar">
        </div>
      </form>

<br></br>
<h5 style="text-align: center; padding-right: 35px;">URL encurtada: </h5>
<br></br>
    <div class="card col-md-6" style="margin: auto;">
      <div class="card-body" style="text-align: center;">
      {{ url }}
      </div>
    </div>
    <br></br>
  <div style="text-align:center;" class="col-md-12">
    <a class="btn btn-primary" href="http://{{base_url}}/urls/" role="button">Urls salvas</a>
  </div>

<br></br>

    </body>
</html>